{%  load static %}


{% block body %}

{% include 'admin_navigation.html' %}


<marquee style = "font-family : 'Monotype corsiva' ; font-size :25px; color : blue ; background-color : black ; font-weight : bold ; margin-top:1%">
 Change Password
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

      <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true">

        <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">


<input type="submit" class="btn btn-primary" style="margin-top:2%">
</form>
{% if error == "no" %}
<script>
    alert("password changed Successfully");
    window.location =('{% url 'Logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong....");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is wrong...");
</script>
{% endif %}




{% endblock %}