{%  load static %}


{% block body %}

{% include 'navigation.html' %}
<style>
 tr{text-align : center}

</style>

<marquee style = "font-family : 'Monotype corsiva' ; font-size :25px; color : blue ; background-color : black ; font-weight : bold ; margin-top:1%">
    Latest Job List
</marquee>
<hr>

<table class="table table-hover container" id="example">
 <thead>
 <tr style = "background-color : gray">
  <th>Serial No.</th>
  <th>Company Name</th>
  <th>Job Title</th>
   <th>Location</th>
     <th>Start Date</th>
     <th>End Date</th>
     <th>Action</th>

 </tr>
 </thead>
 <tbody>
 {% for i in Job %}
     <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.recruiter.company}}</td>
      <td>{{i.title}}</td>
         <td>{{i.locaton}}</td>
        <td>{{i.start_date}}</td>
         <td>{{i.end_date}}</td>
      <td><a href ="{% url 'user_login'  %}" class="btn btn-success btn-sm">Apply Job</a>
     </td>
     </tr>
 {% endfor  %}
 </tbody>
</table>




{% endblock %}