{%  load static %}


{% block body %}

{% include 'navigation.html' %}

<marquee style = "font-family : 'Monotype corsiva' ; font-size :25px; color : blue ; background-color : black ; font-weight : bold ; margin-top:1%">
 User Login
</marquee>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email ID</b></label>
    <input type="email" class="form-control" name="email" placeholder="Enter Email ID">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password"><br>
<input type="submit" value="Login" class="btn btn-primary" style="margin-top:% ; color: darkcyan ; background-color: black ; height : 40px;">
    <a href="{% url 'user_signup' %}" class="btn-btn-primary"  style="margin-top:% ; color: darkcyan ; background-color: black ; height : 40px;">CREATE AN ACCOUNT</a>
</form>
{% if error == "no" %}
<script>
    alert("Login Successfully");
    window.location =('{% url 'user_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid Login Credentials again....");
</script>
{% endif %}



{% endblock %}