{%  load static %}


{% block body %}

{% include 'navigation.html' %}
<script>
    function checkpass()
    {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
    {
    alert('password and password field does not match');
    document.signup.cpwd.focus();
    return false;
    }
    return true;
    }
</script>
<marquee style = "font-family : 'Monotype corsiva' ; font-size :25px; color : blue ; background-color : black ; font-weight : bold ; margin-top:1%">
 User Signup
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class ="form-row">
        <div class="form-col-md-6">
            <label><b>First Name</b></label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" required>
        </div>
         <div class="form-col-md-6">
            <label><b>Last Name</b></label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" required><br>
        </div>
    </div>
    <div class ="form-row">
        <div class="form-col-md-12">
            <label><b>Contect no.</b></label>
            <input type="text" class="form-control" name="contact" placeholder="Enter Contact No" required><br>
        </div>


    </div>
  <div class ="form-row">
        <div class="form-col-md-12">
            <label><b>Email ID.</b></label>
            <input type="text" class="form-control" name="email" placeholder="Enter Email ID" required><br>
    </div>
    </div>

     <div class ="form-row">
        <div class="form-col-md-6">
            <label><b>Password</b></label>
            <input type="password" class="form-control" name="pwd" placeholder="Enter Password" required>
        </div>
         <div class="form-col-md-6">
            <label><b>Confirm Password</b></label>
            <input type="password" class="form-control" name="cpwd" placeholder="Enter Password again" required><br>
        </div>
    </div>

    <div class ="form-row">
        <div class="form-col-md-6">
            <label><b>Gender</b></label>
           <div class="custom-control custom-radio custom control-inline">
               <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
       <label class="custom-control-label" for="customRadioInline1">Male</label>
        </div>
            <div class="custom-control custom-radio custom control-inline">
               <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
       <label class="custom-control-label" for="customRadioInline2">Female</label><br><br>
        </div>
         <div class="form-col-md-6">
           <label><b>Image</b></label>
            <input type="file" class="form-control" name="image" required><br>
        </div>

             <input type="submit" value="Submit" class="btn btn-primary" style="width:200px">
        </div>
    </div>
</form>
{% if error == "no" %}
<script>
    alert("Signup Successfully");
    window.location =('{% url 'user_login' %}')
</script>
{% endif %}

{% if error == "yes"%}
<script>
    alert("Something went wrong,Try again....");
</script>
{% endif %}

{% endblock %}